@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Bangers|Gloria+Hallelujah');

body {
    margin: 0 auto;
    padding: 0;
    width: 90vw;
    background-color: #2d2a350d;
    font-family: "Gloria Hallelujah";
}

header {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    float: center;
    /*border-bottom: 1px solid lightblue;*/
    font-family: "Gloria Hallelujah";
    transition: all .1s ease-in-out;
    margin-bottom: 10px;
}

h1 {
  
    width: 100%;
    margin: 0 auto;
    line-height: 20px;
    padding: 10px 0px 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 5vmin;
    text-align: center;
}


#currentplayer {
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    font-size: 3.5vmin;
    color:#74bed6;
}


/*h2 {
    width: 100%;
    margin: 0 auto;
    gorny, prawy, dol, lewy
    padding: 0px 0px 10px 0px;
    color: #74bed6;
    font-size: 3.0vmin;
    text-align: center;
}*/

.game {
    margin: 0 auto;
}

td {
    border: 0.5px solid black;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: all .5s ease;
    font-family: "Gloria Hallelujah";
    font-size: 8.0vmin;
}

td {
    background-color: #3a0eb105;
    border-radius: 30px;
    box-shadow: 5px 4px 10px 1px #25171754;
    width: 19vmin;
    height: 19vmin;
}


td[id="0"]{
    background-color: #ffc0cb3b;
}

td[id="1"]{
    background-color: #ffc0cb69;
}

td[id="2"]{
    background-color: #ffc0cb94;
}

td[id="3"]{
    background-color: lightblue;
}

td[id="4"]{
    background-color: #add8e67d;
}

td[id="5"]{
    background-color: #add8e638;
}

td[id="6"]{
   /* background-color: #bb66916b;*/
    background-color: #58384838;
}

td[id="7"]{
    background-color: #5838485c;
}

td[id="8"]{
    background-color: #5838487d;
}

table {
    margin: 0 auto;
    border-spacing: 10px;
}


.cell {
    border: none;
}


#resetBtn {
    width: 20vmin;
    height:6vmin;
    color: black;
    background-color: lightblue;
    font-size: 3vmin;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    margin-top: 5vh;
    padding-top: 0px;
    margin-bottom: 2px;
    transition: all .3s ease-in-out;
}


#icon {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

#moon {
      -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

#moon:hover {
    cursor: pointer;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}


#resetBtn:hover, .reserBtn:focus {
    transform: scale(1.2);
    cursor: pointer;
    border-radius: 20px;
}

.playerx {
    color: #2b87a5;
}

.playero {
    color: #444;
}

